body {
  padding: 0;
  text-align: center;
  background-color: yellow;
}

.game-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.game-intro {
  margin-right: 20px;
}

.game-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: bold 20px;
}

.logo-img {
  width: 250px;
}

.homer-img {
  width: 150px;
}

#start-button {
  font-size: 16px;
  background-color: black;
  color: #fff;
  padding: 10px 20px;
  border: 0;
  box-shadow: 0;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

#game-board {
  position: relative;
}

#start-image {
  position: absolute;
  top: 0;
  left: 0;
}

/* #canvas {
  border: 1px solid black; 
} */
