body {
  padding: 0;
  text-align: center;
  background-color: yellow;
}

.game-intro {
  padding: 0% 10%;
  margin-top: -20px;
  display: flex; /* Add this line to make the container a flexbox */
  justify-content: left; /* Align the container to the left */
  align-items: center; /* Vertically center the content */
}

.game-intro p {
  font-size: 15px;
  font-family: "Verdana";
  text-align: left; /* Update text-align to left */
  flex: content;
  justify-content: left; /* Remove this line as it is not needed */
}

.logo-img {
  width: 350;
  display: flex;
  justify-content: left;
}

.homer-img {
  width: 150px;
}

#start-button {
  position: center;
  left: 50%;
  font-size: 16px;
  background-color: black;
  color: #fff;
  padding: 10px 20px;
  border: 0;
  box-shadow: 0;
  border-radius: 5px;
  cursor: pointer;
  top: -50px;
  justify-content: center;
  transform: translateY(-50px);
}

#game-board {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh; /* reduce the height of the game board */
  position: relative;
  top: -50px; /* move the game board and the button up */
  width: 100%; /* make the game board div take up the full width of its parent container */
  text-align: center; /* center the canvas horizontally */
}

#canvas {
  border: 1px solid black;
  margin: 0 auto; /* center the canvas horizontally */
}
